*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.svg {
  width: 25px;
  fill: rgba(32, 36, 39, 0.647);
}

.container {
  max-width: 880px;
  margin: 0 auto;
  padding: 15px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.navigation-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.path {
  display: flex;
  align-items: center;
  /* border: 1px solid rgba(58, 58, 58, 0.48); */
}

.reload {
  fill: #2024279c;
  display: flex;
  margin: 5px;
}

.arrow-up {
  rotate: 270deg;
}

.searcher {
  display: flex;
  align-items: center;
  border: 1px solid blue;
  padding: 2px 6px;
  border-radius: 2px;
  text-align: center;
}

.search {
  display: flex;
  align-items: center;
  border: 1px solid grey;
  border-radius: 2px;
}

.click-search {
  padding: 8px 8px;
  width: 200px;
  border: none;
  outline: none;
  font-size: 15px;
}

.path-search {
  font-size: 15px;
  padding: 0px 5px;
  border: none;
  outline: none;
  width: 350px;
}

.search-svg {
  padding: 0px 5px;
}

/* MAIN */

main {
  margin-top: 20px;
  flex: 1 1 auto;
  padding: 20px 50px;
  overflow-y: scroll;
  max-height: 700px;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.document {
  width: 60px;
}

.list-folders {
  display: flex;
  margin-top: 20px;
  align-items: center;
  gap: 15px;
  padding: 5px 15px;
  cursor: pointer;
}

.list-folders:hover {
	background-color: rgba(0, 0, 0, 0.103);
}
.list-folders:active {
	background-color: rgba(0, 0, 0, 0.159);
}

/* FOOTER */

footer {
  padding: 20px 0px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 400px; */
}

.pic {
  display: flex;
  gap: 5px;
  font-size: 20px;
  color: rgba(23, 23, 71, 0.908);
  align-items: center;
}

.line {
  background-color: rgba(17, 17, 93, 0.886);
  width: 100%;
  height: 2px;
  margin-top: 10px;
}

.creater {
  width: 140px;
  padding: 7px 5px;
  border-radius: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
  border: none;
  background-color: rgba(199, 199, 199, 0.307);
  border: 1px solid grey;
  margin-left: 10px;
  cursor: pointer;
}

.creater:hover {
	background-color: rgba(199, 199, 199, 0.544);
}

.creater:active {
	background-color: rgba(0, 0, 0, 0.159);
}

input[type='text']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='text']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
